h1 {
    font-size: 42px;
    color: red;
    text-align: center;
}

p {
    padding-bottom: 15px;
    color: blue;
}

.formatHeader {
    text-align: right;
    color: orange;
}

#tomatoPicture {
    height: 150px;
    width: 200px;
}